<h1> <%= @user.username %></h1>
<%if @user.id == current_user.id%>
  <h2><%=link_to "please share an image!", new_picture_path %></h2>
  <%= link_to "Home Page", users_path %><br>
  <br>
  <%else%>
    <%= link_to "Home Page", users_path %><br>
  <%end%>

  <%if @user.pictures.empty?%>
    <h1>Share some pictures!</h1>
  <%else%>
    <%if @user.id == current_user.id%>
      <h2>Here are your pictures!</h2>
    <%else%>
      <h2>Here are <%= @user.username %>'s pics... </h2>
    <%end%>
      <%@pictures.order('created_at DESC').each do |picture| %>
      <h1><%= picture.title %><h2>
        <%= link_to (image_tag (picture.image_url), style:"height: auto; width: 300px;"), picture_path(picture) %><br>
    <% end %>
  <%end%>
<%if @user.id == current_user.id %>
  <h4><%= link_to "Delete Account", user_path(@user), :method => 'delete' %></h4>
<%end%>