<br>
<h1> Upload Your Picture! </h1>
  <%= form_for @picture do |f| %>
    <%=f.label :post_title%>:
    <%= f.text_field :title %><br>

    <%=f.label :image_url%>
    <%= f.text_field :image_url %><br>

    <%= f.label :tags%>:
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b| %>
      <%=b.check_box %> #<%=b.text%>
    <%end%>

    <%= f.hidden_field :user_id %><br>
    <%= f.submit value="Upload Picture" %>
  <% end %>