<%if current_user.username != @picture.user.username%>
  <h2><%=link_to "Back to #{@picture.user.username}'s profile...", @picture.user%></h2>
  <h2><%=link_to "Back to your Profile!", current_user%></h2>
<%else%>
  <h2><%=link_to "Back to your Profile!", current_user%></h2>
<%end%>

<h1><%= @picture.title %></h1>
<%= image_tag (@picture.image_url) %>
<%if @picture.user.id == current_user.id%>
  <p><%= link_to "Delete Pic", picture_path(@picture), :method => :delete %></p>
<%end%>
<p>tags: </p><% @picture.tags.reject {|c| c.name.empty?}.each do |tag|%><p>
  <%=link_to tag.name, tag_path(tag)%>
<%end%>





<h1> Comment: <h1>
<%= form_for @comment do |f| %>
  <%= f.hidden_field :picture_id %> <br>
  <%= f.hidden_field :user_id %> <br>
  <%= f.text_area :content %> <br>

  <%= f.submit %>
<% end %><br>
<% @comments.each do |comment| %>
  <%if comment.user %>
  <p>  <%= link_to comment.user.username, user_path(comment.user) %> : <%= comment.content %>
    <%if comment.user.id == current_user.id || @picture.user.id == current_user.id%>
      <%= link_to "(delete comment)", comment, :method => 'delete' %><p>
    <%end%>
  <%else%>
      (deleted): <%=comment.content%><br>
  <%end%>
<% end %>