<!DOCTYPE html>
<html>
  <head>
    <title>Instagram-ish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header_bar' %>
    <%= yield %>
  </body>
</html>
